<a href="https://colab.research.google.com/github/aliyahaslam/FINAL-YEAR-PROJECT-/blob/main/Final_Year_Project_Cleaning_General_Economy_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
uk_economy = pd.read_csv('/content/GENERAL ECONOMY DATASET .csv')
uk_economy.head()

,DATE,INFLATION RATE,DATE,UNEMPLOYMENT RATE,Quarter,INFLATION RATE,Quarter .1,UNEMPLOYMENT RATE .1,MONTH,INFLATION RATE.1,MONTH.1,UNEMPLOYMENT RATE .2
0,2018.0,2.3,2018.0,4.2,2018 Q1,2.5,2018 Q1,4.3,2018 JAN,2.7,2018 JAN,4.3
1,2019.0,1.7,2019.0,3.9,2018 Q2,2.2,2018 Q2,4.1,2018 FEB,2.5,2018 FEB,4.3
2,2020.0,1.0,2020.0,4.7,2018 Q3,2.3,2018 Q3,4.2,2018 MAR,2.3,2018 MAR,4.3
3,2021.0,2.5,2021.0,4.6,2018 Q4,2.1,2018 Q4,4.1,2018 APR,2.2,2018 APR,4.2
4,2022.0,7.9,2022.0,3.9,2019 Q1,1.8,2019 Q1,3.9,2018 MAY,2.3,2018 MAY,4.1

In [3]:
uk_economy.shape

(72, 12)

In [4]:
uk_economy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DATE                  6 non-null      float64
 1   INFLATION RATE        6 non-null      float64
 2   DATE                  6 non-null      float64
 3   UNEMPLOYMENT RATE     6 non-null      float64
 4   Quarter               24 non-null     object
 5   INFLATION RATE        24 non-null     float64
 6   Quarter .1            24 non-null     object
 7   UNEMPLOYMENT RATE .1  24 non-null     float64
 8   MONTH                 72 non-null     object
 9   INFLATION RATE.1      72 non-null     float64
 10  MONTH.1               72 non-null     object
 11  UNEMPLOYMENT RATE .2  72 non-null     float64
dtypes: float64(8), object(4)
memory usage: 6.9+ KB

In [5]:
uk_economy.describe()

,DATE,INFLATION RATE,DATE,UNEMPLOYMENT RATE,INFLATION RATE,UNEMPLOYMENT RATE .1,INFLATION RATE.1,UNEMPLOYMENT RATE .2
count,6.000000,6.000000,6.000000,6.000000,24.000000,24.000000,72.000000,72.000000
mean,2020.500000,3.700000,2020.500000,4.216667,3.716667,4.212500,3.712500,4.209722
std,1.870829,2.896204,1.870829,0.354495,2.907512,0.419433,2.880431,0.419980
min,2018.000000,1.000000,2018.000000,3.900000,0.800000,3.800000,0.500000,3.600000
25%,2019.250000,1.850000,2019.250000,3.925000,1.775000,3.900000,1.700000,3.900000
50%,2020.500000,2.400000,2020.500000,4.100000,2.250000,4.100000,2.300000,4.100000
75%,2021.750000,5.725000,2021.750000,4.500000,5.700000,4.225000,6.225000,4.300000
max,2023.000000,7.900000,2023.000000,4.700000,9.400000,5.300000,9.600000,5.300000

In [9]:
usa_economy = pd.read_csv('/content/USA General Economy.csv')
usa_economy.head()

,Month,Year,Consumer Confidence Index TX,Consumer Confidence West South Central,Consumer Confidence Index US,PCE Deflator,Consumer Price Index TX,Consumer Price Index U.S.,CPI U.S. Ex Food and Energy,Nonfarm Employment TX,...,Retail Diesel Price TX,Nonfarm Employment Illinois,Nonfarm Employment Florida,Nonfarm Employment New York,Nonfarm Employment Texas,Nonfarm Employment California,Gross Value Crude Oil Production,Gross Value Natural Gas Production,Motor Fuel Taxed Gasoline,Motor Fuel Taxed Diesel
0,JANUARY,2018,151.0,142.3,124.3,NaN,225.954,247.867,NaN,12.358,...,2.813,6080.3,8678.2,9609.1,12356.1,17037.0,6911.65,2652.83,1156.9,388.8
1,FEBRUARY,2018,154.7,144.9,130.0,NaN,227.441,248.991,NaN,12.396,...,2.835,6092.0,8704.3,9638.8,12396.2,17084.8,6308.18,2508.84,1111.2,402.9
2,MARCH,2018,139.2,129.7,127.0,NaN,227.746,249.554,NaN,12.433,...,2.796,6110.0,8725.6,9652.8,12439.5,17093.0,7188.05,2450.64,1050.1,361.0
3,APRIL,2018,141.5,135.4,125.6,NaN,228.152,250.546,NaN,12.451,...,2.897,6086.5,8739.8,9657.4,12450.2,17108.8,7378.44,2466.27,1222.5,416.7
4,MAY,2018,147.3,141.1,128.8,NaN,230.043,251.588,NaN,12.486,...,3.019,6091.7,8753.6,9669.9,12487.1,17125.7,7854.88,2813.01,1176.4,404.1

In [10]:
usa_economy.shape

(72, 31)

In [11]:
usa_economy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 31 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Month                                   72 non-null     object
 1   Year                                    72 non-null     int64
 2   Consumer Confidence Index TX            72 non-null     float64
 3   Consumer Confidence West South Central  72 non-null     float64
 4   Consumer Confidence Index US            72 non-null     float64
 5   PCE Deflator                            0 non-null      float64
 6   Consumer Price Index TX                 72 non-null     float64
 7   Consumer Price Index U.S.               72 non-null     float64
 8   CPI U.S. Ex Food and Energy             0 non-null      float64
 9   Nonfarm Employment TX                   72 non-null     float64
 10  Nonfarm Employment U.S.                 72 non-null     float64
 11  Unemployment TX                         72 non-null     float64
 12  Unemployment U.S.                       72 non-null     float64
 13  Single Family Building Permits TX       72 non-null     int64
 14  Multi Family Building Permits TX        72 non-null     int64
 15  Existing Single Family Home Sales TX    72 non-null     int64
 16  Existing Single Family Home Price TX    72 non-null     int64
 17  Non Residential Building Construction   72 non-null     float64
 18  Total Sales Tax Collections Retail TX   72 non-null     float64
 19  Total Sales Tax Collections TX          72 non-null     float64
 20  Retail Gasoline Price TX                72 non-null     float64
 21  Retail Diesel Price TX                  72 non-null     float64
 22  Nonfarm Employment Illinois             72 non-null     float64
 23  Nonfarm Employment Florida              72 non-null     float64
 24  Nonfarm Employment New York             72 non-null     float64
 25  Nonfarm Employment Texas                72 non-null     float64
 26  Nonfarm Employment California           72 non-null     float64
 27  Gross Value Crude Oil Production        72 non-null     float64
 28  Gross Value Natural Gas Production      72 non-null     float64
 29  Motor Fuel Taxed Gasoline               72 non-null     float64
 30  Motor Fuel Taxed Diesel                 72 non-null     float64
dtypes: float64(25), int64(5), object(1)
memory usage: 17.6+ KB

In [12]:
usa_economy.describe()

,Year,Consumer Confidence Index TX,Consumer Confidence West South Central,Consumer Confidence Index US,PCE Deflator,Consumer Price Index TX,Consumer Price Index U.S.,CPI U.S. Ex Food and Energy,Nonfarm Employment TX,Nonfarm Employment U.S.,...,Retail Diesel Price TX,Nonfarm Employment Illinois,Nonfarm Employment Florida,Nonfarm Employment New York,Nonfarm Employment Texas,Nonfarm Employment California,Gross Value Crude Oil Production,Gross Value Natural Gas Production,Motor Fuel Taxed Gasoline,Motor Fuel Taxed Diesel
count,72.00000,72.000000,72.000000,72.000000,0.0,72.000000,72.000000,0.0,72.000000,72.000000,...,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000
mean,2020.50000,122.681944,116.334722,113.681944,NaN,247.805569,272.306944,NaN,12.950950,149.487597,...,3.289986,5976.690278,9043.654167,9416.706944,12949.379167,17142.297222,8664.379444,3625.647083,1163.993056,408.473611
std,1.71981,19.350513,18.260248,14.597360,NaN,18.663451,20.361095,NaN,0.611875,5.384958,...,0.843089,211.082958,471.639612,478.461266,613.398786,735.965750,2917.974110,1926.660457,86.602660,38.081566
min,2018.00000,86.900000,84.400000,85.700000,NaN,225.954000,247.867000,NaN,11.519000,130.513000,...,2.145000,5318.600000,7802.900000,7852.400000,11517.400000,14946.100000,1904.580000,1082.960000,788.400000,302.600000
25%,2019.00000,105.375000,100.975000,103.025000,NaN,233.381500,256.327500,NaN,12.538250,147.749000,...,2.796750,5885.875000,8736.250000,9239.300000,12524.525000,17017.700000,6926.192500,2364.370000,1127.900000,386.350000
50%,2020.50000,120.250000,111.850000,111.750000,NaN,236.131000,261.028000,NaN,12.845500,150.236000,...,3.009500,6091.200000,8993.350000,9655.100000,12843.650000,17360.100000,8130.810000,2930.650000,1182.900000,407.350000
75%,2022.00000,141.500000,135.025000,126.850000,NaN,268.880500,296.197250,NaN,13.444150,152.623000,...,3.819750,6114.350000,9430.150000,9737.350000,13444.150000,17689.175000,10775.632500,4709.415000,1222.525000,426.550000
max,2023.00000,154.700000,146.100000,137.900000,NaN,281.716000,307.789000,NaN,14.034500,157.304000,...,5.393000,6151.800000,9865.800000,9835.100000,14034.500000,17948.900000,15060.060000,9101.000000,1283.500000,531.500000

In [13]:
usa_economy.isnull().sum()

Month                                      0
Year                                       0
Consumer Confidence Index TX               0
Consumer Confidence West South Central     0
Consumer Confidence Index US               0
PCE Deflator                              72
Consumer Price Index TX                    0
Consumer Price Index U.S.                  0
CPI U.S. Ex Food and Energy               72
Nonfarm Employment TX                      0
Nonfarm Employment U.S.                    0
Unemployment TX                            0
Unemployment U.S.                          0
Single Family Building Permits TX          0
Multi Family Building Permits TX           0
Existing Single Family Home Sales TX       0
Existing Single Family Home Price TX       0
Non Residential Building Construction      0
Total Sales Tax Collections Retail TX      0
Total Sales Tax Collections TX             0
Retail Gasoline Price TX                   0
Retail Diesel Price TX                     0
Nonfarm Employment Illinois                0
Nonfarm Employment Florida                 0
Nonfarm Employment New York                0
Nonfarm Employment Texas                   0
Nonfarm Employment California              0
Gross Value Crude Oil Production           0
Gross Value Natural Gas Production         0
Motor Fuel Taxed Gasoline                  0
Motor Fuel Taxed Diesel                    0
dtype: int64

In [14]:
usa_economy.dropna(inplace=True)
usa_economy.isnull().sum()

Month                                     0
Year                                      0
Consumer Confidence Index TX              0
Consumer Confidence West South Central    0
Consumer Confidence Index US              0
PCE Deflator                              0
Consumer Price Index TX                   0
Consumer Price Index U.S.                 0
CPI U.S. Ex Food and Energy               0
Nonfarm Employment TX                     0
Nonfarm Employment U.S.                   0
Unemployment TX                           0
Unemployment U.S.                         0
Single Family Building Permits TX         0
Multi Family Building Permits TX          0
Existing Single Family Home Sales TX      0
Existing Single Family Home Price TX      0
Non Residential Building Construction     0
Total Sales Tax Collections Retail TX     0
Total Sales Tax Collections TX            0
Retail Gasoline Price TX                  0
Retail Diesel Price TX                    0
Nonfarm Employment Illinois               0
Nonfarm Employment Florida                0
Nonfarm Employment New York               0
Nonfarm Employment Texas                  0
Nonfarm Employment California             0
Gross Value Crude Oil Production          0
Gross Value Natural Gas Production        0
Motor Fuel Taxed Gasoline                 0
Motor Fuel Taxed Diesel                   0
dtype: int64

In [17]:
uk_public = pd.read_csv('/content/UK CLEAN PUBLIC SECTOR CR.csv')
uk_public.head()

,million,Unnamed: 1,2017 to 2018,2018 to 2019,2019 to 2020,2020 to 2021,2021 to 2022,2022 to 2023
0,Income tax [note 1],NaN,"180,609","192,505","192,537","195,263","224,779","250,490"
1,Capital gains tax,NaN,"7,793","9,191","9,827","11,131","15,267","16,928"
2,"Miscellaneous taxes on income and wealth, of w...",NaN,789,754,664,799,759,786
3,Betting and gaming duty - taxes on income and ...,NaN,686,652,578,708,653,681
4,Other,NaN,103,102,86,91,106,105

In [18]:
uk_public.shape

(74, 8)

In [19]:
uk_public.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    million     74 non-null     object
 1   Unnamed: 1    0 non-null      float64
 2   2017 to 2018  74 non-null     object
 3   2018 to 2019  74 non-null     object
 4   2019 to 2020  74 non-null     object
 5   2020 to 2021  74 non-null     object
 6   2021 to 2022  74 non-null     object
 7   2022 to 2023  74 non-null     object
dtypes: float64(1), object(7)
memory usage: 4.8+ KB

In [20]:
uk_public.describe()

       Unnamed: 1
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN

In [21]:
uk_public.isnull().sum()

 million        0
Unnamed: 1      74
2017 to 2018     0
2018 to 2019     0
2019 to 2020     0
2020 to 2021     0
2021 to 2022     0
2022 to 2023     0
dtype: int64

In [22]:
uk_public.dropna(inplace=True)
uk_public.isnull().sum()

 million       0
Unnamed: 1      0
2017 to 2018    0
2018 to 2019    0
2019 to 2020    0
2020 to 2021    0
2021 to 2022    0
2022 to 2023    0
dtype: int64

In [24]:
usa_cpi = pd.read_csv('/content/USA CPI .csv')
usa_cpi.head()

  Consumer Price Index item  2018  2019  2020  2021  2022  2023
0                  All food   1.4   1.9   3.4   3.9   9.9   5.8
1       Food away from home   2.6   3.1   3.4   4.5   7.7   7.1
2              Food at home   0.4   0.9   3.5   3.5  11.4   5.0
3  Meats, poultry, and fish   0.7   1.0   6.3   6.8   9.6   2.0
4                    Meats    0.4   1.3   7.4   7.7   8.2   2.1

In [25]:
usa_cpi.shape

(22, 7)

In [26]:
usa_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Consumer Price Index item  22 non-null     object
 1   2018                       22 non-null     float64
 2   2019                       22 non-null     float64
 3   2020                       22 non-null     float64
 4   2021                       22 non-null     float64
 5   2022                       22 non-null     float64
 6   2023                       22 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.3+ KB

In [27]:
usa_cpi.describe()

            2018       2019       2020       2021       2022       2023
count  22.000000  22.000000  22.000000  22.000000  22.000000  22.000000
mean    1.050000   0.663636   3.768182   4.295455  11.427273   4.104545
std     2.325378   2.629964   2.298941   2.211330   5.527781   3.094769
min    -0.600000 -10.000000  -0.800000   1.100000   5.300000  -1.200000
25%     0.100000   0.900000   2.725000   2.900000   8.275000   1.550000
50%     0.400000   1.050000   3.450000   3.700000  10.150000   3.800000
75%     1.100000   1.600000   4.400000   5.325000  12.525000   6.900000
max    10.800000   3.800000   9.600000   9.300000  32.200000   9.000000

In [28]:
usa_cpi.isnull().sum()

Consumer Price Index item    0
2018                         0
2019                         0
2020                         0
2021                         0
2022                         0
2023                         0
dtype: int64

In [40]:
uk_gva = pd.read_csv('/content/UK Clean Gross VALue Added.csv')
uk_gva.head()

,Unnamed: 0,Jan to Mar 2018,Apr to Jun 2018,Jul to Sep 2018,Oct to Dec 2018,Jan to Mar 2019,Apr to Jun 2019,Jul to Sep 2019,Oct to Dec 2019,Jan to Mar 2020,Apr to Jun 2020,Jul to Sep 2020,Oct to Dec 2020,Jan to Mar 2021,Apr to Jun 2021,Jul to Sep 2021,Oct to Dec 2021,Jan to Mar 2022,Apr to Jun 2022,Jul to Sep 2022
0,All industries,97.3,98.4,98.5,99.0,100.0,99.5,100.4,100.1,97.4,78.1,90.2,91.8,91.6,96.5,98.2,100.1,100.4,100.7,100.7
1,"Agriculture, Forestry and fishing",80.5,80.9,84.1,89.3,99.4,98.8,100.5,101.3,100.2,89.3,93.1,93.6,95.5,99.4,105.7,103.4,102.9,105.3,107.2
2,Total production industries,97.4,98.9,98.0,97.3,97.7,98.1,101.2,102.9,104.0,87.5,105.3,110.4,112.1,112.7,111.7,106.9,100.8,98.6,97.2
3,Mining & quarrying,84.7,93.3,97.2,99.3,102.1,99.6,98.3,99.9,105.7,86.9,109.4,108.3,106.2,107.5,107.7,107.1,113.1,105.8,110.2
4,Manufacturing,98.7,100.3,99.2,98.5,98.9,98.2,101.3,101.6,102.8,83.6,103.9,110.2,111.2,111.0,110.8,105.8,99.4,97.5,96.0

In [41]:
uk_gva.shape

(23, 20)

In [42]:
uk_gva.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       23 non-null     object
 1   Jan to Mar 2018  23 non-null     float64
 2   Apr to Jun 2018  23 non-null     float64
 3   Jul to Sep 2018  23 non-null     float64
 4   Oct to Dec 2018  23 non-null     float64
 5   Jan to Mar 2019  23 non-null     float64
 6   Apr to Jun 2019  23 non-null     float64
 7   Jul to Sep 2019  23 non-null     float64
 8   Oct to Dec 2019  23 non-null     float64
 9   Jan to Mar 2020  23 non-null     float64
 10  Apr to Jun 2020  23 non-null     float64
 11  Jul to Sep 2020  23 non-null     float64
 12  Oct to Dec 2020  23 non-null     float64
 13  Jan to Mar 2021  23 non-null     float64
 14  Apr to Jun 2021  23 non-null     float64
 15  Jul to Sep 2021  23 non-null     float64
 16  Oct to Dec 2021  23 non-null     float64
 17  Jan to Mar 2022  23 non-null     float64
 18  Apr to Jun 2022  23 non-null     float64
 19  Jul to Sep 2022  23 non-null     float64
dtypes: float64(19), object(1)
memory usage: 3.7+ KB

In [43]:
uk_gva.describe()

,Jan to Mar 2018,Apr to Jun 2018,Jul to Sep 2018,Oct to Dec 2018,Jan to Mar 2019,Apr to Jun 2019,Jul to Sep 2019,Oct to Dec 2019,Jan to Mar 2020,Apr to Jun 2020,Jul to Sep 2020,Oct to Dec 2020,Jan to Mar 2021,Apr to Jun 2021,Jul to Sep 2021,Oct to Dec 2021,Jan to Mar 2022,Apr to Jun 2022,Jul to Sep 2022
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,95.513043,96.913043,97.347826,97.917391,99.586957,99.300000,100.300000,100.808696,98.239130,75.639130,91.008696,91.752174,90.886957,96.430435,98.347826,99.560870,99.669565,99.495652,99.730435
std,6.133611,5.844057,4.404117,3.517185,2.895813,1.254447,1.001363,3.462909,6.589367,22.089112,13.132884,15.226677,17.574680,13.202081,11.383955,9.644864,10.170252,11.754669,12.396386
min,80.500000,80.900000,84.100000,87.100000,89.100000,97.100000,98.300000,93.800000,78.100000,14.900000,61.800000,55.000000,46.600000,76.300000,73.000000,75.500000,71.900000,68.000000,66.600000
25%,92.800000,94.250000,96.300000,97.450000,98.950000,98.450000,99.800000,99.300000,95.100000,59.800000,85.900000,85.000000,77.500000,83.100000,92.750000,97.700000,98.950000,96.300000,95.150000
50%,97.400000,98.400000,98.500000,99.000000,99.800000,99.400000,100.500000,100.100000,98.900000,78.100000,90.200000,93.600000,94.400000,96.900000,99.200000,99.200000,100.600000,101.000000,101.300000
75%,98.700000,100.350000,100.000000,99.500000,101.000000,99.800000,100.900000,101.900000,102.150000,92.750000,99.750000,101.350000,102.750000,105.050000,105.600000,106.350000,104.400000,106.450000,108.950000
max,105.100000,104.700000,102.000000,102.900000,105.300000,102.100000,102.000000,113.000000,109.700000,102.200000,114.300000,114.200000,120.300000,122.800000,116.000000,115.400000,113.100000,115.100000,117.500000

In [44]:
uk_gva.isnull().sum()

Unnamed: 0         0
Jan to Mar 2018    0
Apr to Jun 2018    0
Jul to Sep 2018    0
Oct to Dec 2018    0
Jan to Mar 2019    0
Apr to Jun 2019    0
Jul to Sep 2019    0
Oct to Dec 2019    0
Jan to Mar 2020    0
Apr to Jun 2020    0
Jul to Sep 2020    0
Oct to Dec 2020    0
Jan to Mar 2021    0
Apr to Jun 2021    0
Jul to Sep 2021    0
Oct to Dec 2021    0
Jan to Mar 2022    0
Apr to Jun 2022    0
Jul to Sep 2022    0
dtype: int64